{% extends 'flashcards/base.html' %}

{% block content %}

<h2>Szybki strzał</h2>
</br>

<div class="card">

  <div class="card-header">
  <strong> {{ flashcard.front }} </strong>
  </div>

    <div class="card-body">
    <p class="card-text">
      <form method="POST" autocomplete="off">
        {% csrf_token %}
        <p>Podpowiedź: {{ flashcard.mnemo }}</p>
        <input type="text" name="back" value="" placeholder="Tłumaczenie" required>
        </br></br>
        <button type="submit" class="btn btn-secondary">Sprawdź</button>
      </form>
    </div>
</div>


{% endblock %}